.imgAboutme {
  border-radius: 90%;
  margin-left: 2rem;
  margin-top: 2rem;
}
.titleme {
  color: #0c3b52;
  text-shadow: #548fab;
  text-shadow: 2px 2px 9px #548fab;
  font-family: "Sriracha", cursive;
  font-size: 2rem;
}
.aboutmeText {
  color: rgb(15, 70, 97);
  justify-content: left;
  font-family: "Sriracha", cursive;
  font-size: 1.5rem;
}
