
.link{
  color:rgb(240, 239, 231);
  font-size: xx-large;
  font-family: 'Sriracha', cursive;

}
.link:hover{
  color: #407f9e;
  background: rgb(240, 239, 231);
}
.navbar-toggler{
  background-color: rgb(216, 215, 211);
}

button.navbar-toggler.collapsed{
  
  border-color: rgb(240, 239, 231);
  background-color: rgb(240, 239, 231);
}