.titleSkill{
  font-size: x-large;
  font-weight: bolder;
  color: #407f9e;
  margin-left: auto;
  margin-bottom: 0%;
}
.iconSkill{
  width: 10%;
  height: 60%;
  margin: auto;
}
.iconSkills{
  width: 10%;
  height: 30%;
  margin: auto;
  margin-top: 2%;

}